.page
{
	font-family:Trebuchet MS;
	background-image: url('https://st2.depositphotos.com/3759469/6798/v/600/depositphotos_67982979-stock-illustration-horizontally-seamless-game-background.jpg');
}

h1
{
	background-color:green;
	opacity:0.7;
	color: white;
	text-align:center;

	font-size:2em;
	border:3px blue solid;
	box-shadow: 6px 6px 10px green;
}

h2
{
	color: green;
	text-decoration:underline;
	font-size:1.5em;
}

h3
{
	color: white;
}

p
{
	color: black;
}

label
{

}

ul 
{
	list-style-type:"\01F527"; /*code clé */
	text-align: left;
	
}

.flexheader
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	
	background-color: rgb(204, 230, 255);
}


.flexheaderleft
{
	flex-direction: column;
	flex-grow:1;
	
	color: black;
	font-size: 1em;
	text-align: center;
	
}

.flexheaderscore
{
	flex-direction: column;
	flex-grow:2;
	
	text-align: center;
}

#score {
	font-size: 4rem;
}

.flexbody
{
	display:flex;
	justify-content:space-around;
	padding-bottom: 90px;
}

#infos
{
	flex-direction:column;
	text-align: left;
	min-width:150px;
	max-width:220px;
	padding:20px;
	background-color: blue;
	color: white;
}

#jeu
{
	text-align:center;
	
}


#parametres
{
	flex-direction:column;
	text-align: left;
	min-width:150px;
	max-width:220px;
	padding:20px;
	background-color: blue;
	color: white;
}

footer
{
	color: grey;
	font-family:Trebuchet MS;
	font-size: 0.8em ;
	text-align: center;
	background-color: white;
	padding-top: 6px;
}

canvas
{
	border: 2px solid red;
}

/* bouton à cliquer */
.bouton {
	border: 0;
    line-height: 2.5;
    padding: 0 100px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouton:hover {
    background-color: rgba(255, 0, 0, 1);
	cursor: grab;
}

.bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
	color: #fff;
	cursor: wait;
}

/* bouton play pause à cliquer */
.boutonvert {
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: green;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.boutonvert:hover {
    background-color: #09FF1C;
	cursor: grab;
}

.boutonvert:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
	color: #fff;
	cursor: wait;
}


.onoff
{
  width:120px;
  height:32px;
  padding:3px 3px 3px 3px;	
  font-size:12px;
  background:lightgray;
  text-align:center;	
  border-radius: 5px;

}

.onoff div
{
  width:100px;
  height:18px;
  min-height:18px;	
  background:red;
  overflow:hidden;
  border-top:1px solid gray;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-left:1px solid gray;			
  margin:0 auto;
  color:white;
}

.onoff:hover {
	cursor: grab;
}

